[submodule "Chazel/vendor/spdlog"]
	path = Chazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Chazel/vendor/GLFW"]
	path = Chazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "CHazel/vendor/imgui"]
	path = CHazel/vendor/imgui
	url = https://github.com/TheCherno/imgui
